page-login {
    
     
     .bg-image {
     background-image: url('../assets/imgs/flag.jpg');
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     background-color: black;
     }
     
     .no-scroll .scroll-content {
     overflow: hidden;
     }
     
     .logo {
     display: block;
     margin: auto;
     width: 40%;
     margin-top: 2vh;
     visibility: hidden;
     }
    
     .label {
     background-color: rgba(255,255,255, 0.0);
    
     }
    
     .list {
     width: 50%;
     position: absolute;
     right: 100px;
     margin: auto;
     }
    
     .text {
     text-align: center;
     margin-top: 30vh;
     color: white;
     }
    
     .btnWidth {
     width: 58%;
     }
    
     .myButton {
     margin-top: 8vh;
     width: 74%;
    }
     
}
