page-tech {
    .container{
        width: 300px;
    }
    .topics{
        float: left;
        text-align: left;
        
    }
    .knowledgelvl{
        float: right;
        text-align: right;
        
    }
}
