page-welcome {

    .swiper-pagination-bullet-active {
        background: white;
    }

    .bg-image {
        background-image: url('../assets/imgs/s2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .padding {
        padding-bottom: 100px;
    }
    .slide1{
        background-image: url('../assets/imgs/horde.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: black;
    }
    .slide2{
        background-image: url('../assets/imgs/alliance.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: black;
    }
    .slide3{
        background-image: url('../assets/imgs/flag.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: black;
    }
}
